{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

   
   <section id="background_home">

    <div id="search_secondary">

        <div id="search_bg_secondary">
        CAZDIOJDI
        </div>
    </div>
       
    </section>


{% endblock %}
