body {
  margin: 0;
}

/* PARTIE LIE A LA NAVBAR  */

#nav {
  display: flex;
  flex-direction: row;
  height: 10vh;
  position: fixed;
  width: 100vw;
}

.nav_gauche, .nav_droite {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#menu_icon {

  width: 50%;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  height: 100%;
}

#logo {
  height: 75%;
  margin-left: 10%;
  margin: 1% 0 0 15%;
}

.img_menu {
  height: 35%;

}

#burger_button {
  height: 100%;

}

#burger_button button {
  height: 100%;
  background-color: #f98404;
  color: white;
  font-size: 1.4em;

}

/* PARTIE RESERVEE POUR LE BANDEAU D'ACCUEIL */

#background_home {

  height: 100vh;
  width: 100vw;
  background-image: url('../img/test.jpg');
  background-position: center;
  background-size: cover;
}

/* PARTIE RESERVEE POUR LA CONNEXION / INSCRIPTION */

.login_form {
  display: flex;
}

#login, #inscription {
  width: 50%;
  margin-top: 10%
}

#login {
  background-color: #FFF;
}